.button{
    font-weight: 700;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 16px;
    gap: 10px;  
    width: 122px;
    height: 41px;  
    background: #FFAA47;
    border-radius: 22px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #FFAA47;
    border: 2px solid #ffffff;
}

.button:active {
    box-shadow: 0 0.3em 1em -0.5em #FFAA47;
    border: 2px solid #ffffff;
}


.button-2{
    font-weight: 700;
    color: #FFAA47;
    display: flex;
    font-size: 1.5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 16px;
    gap: 10px;
    width: 144px;
    height: 41px;
    background: transparent;
    /* background: #fff; */
    border: 2px solid #FFAA47;
    border-radius: 22px;
}

.button-2:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #ffffff;
    border: 2px solid #ffffff;
    background: #FFAA47;
    color: #fff;
}

.button-2:active {
    box-shadow: 0 0.3em 1em -0.5em #ffffff;
    border: 2px solid #ffffff;
    background: #FFAA47;
    color: #fff;
}
