@tailwind base;
@tailwind components;
@tailwind utilities;

/* .dark {
    --Color-Grey: #343434;
    --Color-Black: #1A1A1A;
    --Color-Orange: #FFAA47;
    --Color-WhiteSmoke: #FBFBFB;
    --Color-LightOrange: #FFD7A9;
    --Color-White: #FFFFFF;
    --Color-LightGrey: #D3D3D3;
}
.light {
    --Color-Grey: #343434;
    --Color-Black: #1A1A1A;
    --Color-Orange: #FFAA47;
    --Color-WhiteSmoke: #FBFBFB;
    --Color-LightOrange: #FFD7A9;
    --Color-White: #FFFFFF;
    --Color-LightGrey: #D3D3D3;
} */

.dark {
    background-color: #333;
    color: #fff;
}

.light {
    background-color: #fff;
    color: #333;
}

/* CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Satoshi', sans-serif;
}